#job-list {
    margin: 0 auto; padding: 200px calc((100vw - 800px) / 2);
    background: #111;
}

.wrapper.enter #job-list {
    background: #000;
}

.wrapper.enter-active #job-list {
    background: #111;
    transition-duration: 1.5s; transition-delay: 1.5s;
}

.wrapper.exit #job-list {
    background: #111;
}

.wrapper.exit-active #job-list {
    background: #000;
    transition-duration: 1.5s;
}





.job {
    margin: 0 0 50px;
}

.job-title {
    margin-bottom: 40px;
    font-weight: bold; font-size: 24px;
}

.job h3 {
    margin-bottom: 15px;
    font-size: 12px; text-transform: uppercase; letter-spacing: 0.15em;
}

.job ul {
    margin: 0 0 30px; padding: 0 0 0 30px;
}

.job li {
    margin: 0 30px 0 0; padding: 0;
    font-size: 12px; line-height: 2em;
}

.wrapper.exit .job {
    opacity: 1;
    transform: translateY(0px);
}

.wrapper.exit-active .job {
    opacity: 0;
    transform: translateY(-100px);
    transition-duration: 1s;
}

.wrapper.enter .job {
    opacity: 0;
    transform: translateY(100px);
    transition-duration: 0s;
}

.wrapper.enter-active .job {
    opacity: 1;
    transform: translateY(0px);
    transition-duration: 1s; transition-delay: 1.5s;
}

@media all and (max-width: 760px) {

    #job-list {
        margin: 0; padding: 100px 30px 100px;
        width: auto;
    }

    .job-title {
        font-size: 20px;
    }

}